{#
/**
 * site-builder page template.
 * Generated on: Thu, 15 Oct 15 22:09:28 +1300
 */
#}
{{ attach_library('THEMENAME/THEMENAME.layout.page') }}
<div{{ attributes }}>
  {% if leaderboard__regions.active == true %}
    <div{{ leaderboard__wrapper_attributes }}>
      <div{{ leaderboard__container_attributes }}>
        {{ page.leaderboard }}
      </div>
    </div>
  {% endif %}
  {% if header__regions.active == true %}
    <header{{ header__wrapper_attributes }}>
      <div{{ header__container_attributes }}>
        {{ page.header_first }}
        {{ page.header_second }}
      </div>
    </header>
  {% endif %}
  {% if navbar__regions.active == true %}
    <div{{ navbar__wrapper_attributes }}>
      <div{{ navbar__container_attributes }}>
        {{ page.navbar }}
      </div>
    </div>
  {% endif %}
  {% if highlighted__regions.active == true %}
    <div{{ highlighted__wrapper_attributes }}>
      <div{{ highlighted__container_attributes }}>
        {{ page.highlighted }}
      </div>
    </div>
  {% endif %}
  {% if features__regions.active == true %}
    <div{{ features__wrapper_attributes }}>
      <div{{ features__container_attributes }}>
        {{ page.features_first }}
        {{ page.features_second }}
        {{ page.features_third }}
      </div>
    </div>
  {% endif %}
  {% if content_prefix__regions.active == true %}
    <div{{ content_prefix__wrapper_attributes }}>
      <div{{ content_prefix__container_attributes }}>
        {{ page.content_prefix }}
      </div>
    </div>
  {% endif %}
  {% if main__regions.active == true %}
    <div{{ main__wrapper_attributes }}>
      <div{{ main__container_attributes }}>
        {{ page.content }}
        {{ page.sidebar_first }}
        {{ page.sidebar_second }}
      </div>
    </div>
  {% endif %}
  {% if content_suffix__regions.active == true %}
    <div{{ content_suffix__wrapper_attributes }}>
      <div{{ content_suffix__container_attributes }}>
        {{ page.content_suffix }}
      </div>
    </div>
  {% endif %}
  {% if subfeatures__regions.active == true %}
    <div{{ subfeatures__wrapper_attributes }}>
      <div{{ subfeatures__container_attributes }}>
        {{ page.subfeatures_first }}
        {{ page.subfeatures_second }}
        {{ page.subfeatures_third }}
        {{ page.subfeatures_fourth }}
      </div>
    </div>
  {% endif %}
  {% if footer__regions.active == true %}
    <footer{{ footer__wrapper_attributes }}>
      <div{{ footer__container_attributes }}>
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
  {{ attribution }}
</div>
